
@{
    ViewBag.PanelTitle = "Danh sách nhân viên";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <div class="input-group form-search">
            <input class="form-control search-query" type="text" placeholder="Họ tên nhân viên..">
            <span class="input-group-btn">
                <button data-type="last" class="btn btn-primary" type="submit">Tìm kiếm</button>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <button class="btn btn-success pull-right" style="margin-bottom:10px;">Thêm nhân viên</button>
        </div>
    </div>

    
    
</div>

<div class="row">
    <div class="col-sm-3" style="height:450px; overflow-y:scroll;  box-shadow:2px 2px 2px #808080; border:1px solid #808080; margin-bottom:10px; margin-left:2%;">
        <div >
            <div class="row">

                <div class="col-xs-12 pull-left">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th style="width:3%; text-align:center;">#</th>
                                <th style="width:97%;">Họ tên</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" style="background-color:#dbdbdb">
                                    <strong>GD - Ban giám đốc</strong>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    1
                                </td>
                                <td>
                                    <a href="/Admin/ThongTinNhanVien/3">
                                        BS CKI. Nguyễn Thị Nhiệm
                                    </a>

                                </td>
                               
                            </tr>

                            <tr>
                                <td style="text-align:center;">
                                    1
                                </td>
                                <td>
                                    <a href="/Admin/ThongTinNhanVien/1">
                                        Administrator
                                    </a>

                                </td>

                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    1
                                </td>
                                <td>
                                    <a href="/Admin/ThongTinNhanVien/1">
                                        Administrator
                                    </a>

                                </td>

                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    1
                                </td>
                                <td>
                                    <a href="/Admin/ThongTinNhanVien/1">
                                        Administrator
                                    </a>

                                </td>

                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    1
                                </td>
                                <td>
                                    <a href="/Admin/ThongTinNhanVien/1">
                                        Administrator
                                    </a>

                                </td>

                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    1
                                </td>
                                <td>
                                    <a href="/Admin/ThongTinNhanVien/1">
                                        Administrator
                                    </a>

                                </td>

                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    1
                                </td>
                                <td>
                                    <a href="/Admin/ThongTinNhanVien/1">
                                        Administrator
                                    </a>

                                </td>

                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    1
                                </td>
                                <td>
                                    <a href="/Admin/ThongTinNhanVien/1">
                                        Administrator
                                    </a>

                                </td>

                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    1
                                </td>
                                <td>
                                    <a href="/Admin/ThongTinNhanVien/1">
                                        Administrator
                                    </a>

                                </td>

                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    1
                                </td>
                                <td>
                                    <a href="/Admin/ThongTinNhanVien/1">
                                        Administrator
                                    </a>

                                </td>

                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    1
                                </td>
                                <td>
                                    <a href="/Admin/ThongTinNhanVien/1">
                                        Administrator
                                    </a>

                                </td>

                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    1
                                </td>
                                <td>
                                    <a href="/Admin/ThongTinNhanVien/1">
                                        Administrator
                                    </a>

                                </td>

                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    1
                                </td>
                                <td>
                                    <a href="/Admin/ThongTinNhanVien/1">
                                        Administrator
                                    </a>

                                </td>

                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    1
                                </td>
                                <td>
                                    <a href="/Admin/ThongTinNhanVien/1">
                                        Administrator
                                    </a>

                                </td>

                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    1
                                </td>
                                <td>
                                    <a href="/Admin/ThongTinNhanVien/1">
                                        Administrator
                                    </a>

                                </td>

                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    1
                                </td>
                                <td>
                                    <a href="/Admin/ThongTinNhanVien/1">
                                        Administrator
                                    </a>

                                </td>

                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    1
                                </td>
                                <td>
                                    <a href="/Admin/ThongTinNhanVien/1">
                                        Administrator
                                    </a>

                                </td>

                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    1
                                </td>
                                <td>
                                    <a href="/Admin/ThongTinNhanVien/1">
                                        Administrator
                                    </a>

                                </td>

                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    1
                                </td>
                                <td>
                                    <a href="/Admin/ThongTinNhanVien/1">
                                        Administrator
                                    </a>

                                </td>

                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    1
                                </td>
                                <td>
                                    <a href="/Admin/ThongTinNhanVien/1">
                                        Administrator
                                    </a>

                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">

        
        <img src="~/Content/img/default-avatar.png" class="pull-left" style="width:20%; border:1px solid #808080; padding:2px;"/>

        <div class="panel panel-success pull-right" style="width:77%; margin-left:3%; box-shadow:2px 2px 2px #808080; border:1px solid #808080;">
            <div class="panel-heading" style="background-color:#004f02;">
                <h3 class="panel-title"><i class="glyphicon glyphicon-user"></i> <strong>Nguyễn Hồng Thanh</strong> - Phòng Kế Hoạch Tổng Hợp</h3>
            </div>
            <div class="panel-body">
                <div class="tabbable  clearfix">
                    <ul id="myTab1" class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#lylich" data-toggle="tab">Lý lịch viên chức</a></li>
                        <li class=""><a href="#suckhoe" data-toggle="tab">Sức khỏe định kỳ</a></li>
                        <li class=""><a href="#lienhe" data-toggle="tab">Liên hệ</a></li>

                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="lylich">

                            <style>
                                #tableLyLich * {
                                    border: 0px;
                                }
                            </style>
                            <table class="table" id="tableLyLich">
                                <tr>
                                    <th style="width:30%;">Họ và tên</th>
                                    <td>Nguyễn Hồng Thanh</td>
                                </tr>
                                <tr>
                                    <th>Ngày sinh</th>
                                    <td>17/04/1991</td>
                                </tr>
                                <tr>
                                    <th>Giới tính</th>
                                    <td>Nam</td>
                                </tr>
                                <tr>
                                    <th>Nơi ở hiện nay</th>
                                    <td>46 Trần Văn Phụng, Xã Mỹ Trà, Thành phố Cao Lãnh, Tỉnh Đồng Tháp</td>
                                </tr>
                                <tr style="border-top:1px solid #ccc">
                                    <th>Hợp đồng</th>
                                    <td>Viên chức</td>
                                </tr>
                            </table>

                            <button class="btn btn-default" id="btnXemChiTiet" style="margin-bottom:10px;">Xem chi tiết</button>
                            <button class="btn btn-success" style="margin-bottom:10px;">Cập nhật</button>

                            @*<div class="text-center">
                                Chưa có thông tin...
                                <br /><br />
                                <a href="" class="btn btn-default">Cập nhật</a>
                            </div>*@


                        </div>
                        <div class="tab-pane fade" id="suckhoe">
                            sức khỏe
                        </div>
                        <div class="tab-pane fade" id="lienhe">
                            liên hệ
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default pull-right" style="width:77%; margin-left:3%; border:1px solid #808080;">
            <div class="panel-heading">
                <h3 class="panel-title"> <i class="glyphicon glyphicon-flag"></i> Quá trình đào tạo, bồi dưỡng</h3>
            </div>
            <div class="panel-body">
                
            </div>
        </div>





    </div>
</div>




<div class="modal" id="modalXemChiTiet">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">LÝ LỊCH VIÊN CHỨC</h4>
            </div>
            <div class="modal-body">
                
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <tr>
                                <th style="width:30%;">Cơ quan, đơn vị có thẩm quyền quản lý viên chức</th>
                                <td>Sở Y Tế Đồng Tháp</td>
                            </tr>
                            <tr>
                                <th>Số hiệu viên chức</th>
                                <td>VC123</td>
                            </tr>
                            <tr>
                                <th>Cơ quan đơn vị sử dụng viên chức</th>
                                <td>Bệnh viện Phục hồi chức năng Đồng Tháp</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        
                        <img src="~/Content/img/default-avatar.png" style="width:100%; border:1px solid #808080; padding:5px;" id="modalTuyChonAnh_imgXemAnh" />
                    </div>
                    <div class="col-sm-9">

                        <style>
                            .tableLyLichChiTiet * {
                                /*border: 0px;*/
                                font-size:14px;
                                
                            }
                            .tableLyLichChiTiet th {
                                font-weight:normal;
                            }
                            .tableLyLichChiTiet th {
                                background-color:#cccccc;
                            }
                        </style>
                        <table class="table tableLyLichChiTiet">
                            
                            <tr>
                                <th style="width:30%;">1. Họ và tên khai sinh</th>
                                <td style="text-transform:uppercase;">Nguyễn Hồng Thanh</td>
                            </tr>
                            <tr>
                                <th>2. Ngày sinh</th>
                                <td>17/04/1991</td>
                            </tr>
                            <tr>
                                <th>3. Giới tính</th>
                                <td>Nam</td>
                            </tr>
                            <tr>
                                <th>4. Nơi sinh</th>
                                <td>46 Trần Văn Phụng, Xã Mỹ Trà, Thành phố Cao Lãnh, Tỉnh Đồng Tháp</td>
                            </tr>
                            <tr>
                                <th>5. Quê quán</th>
                                <td>46 Trần Văn Phụng, Xã Mỹ Trà, Thành phố Cao Lãnh, Tỉnh Đồng Tháp</td>
                            </tr>
                            <tr>
                                <th>6. Dân tộc</th>
                                <td>Kinh</td>
                            </tr>
                            <tr>
                                <th>7. Tôn giáo</th>
                                <td>Không</td>
                            </tr>
                            <tr>
                                <th>8. Nơi đăng ký hộ khẩu thường trú</th>
                                <td>46 Trần Văn Phụng, Xã Mỹ Trà, Thành phố Cao Lãnh, Tỉnh Đồng Tháp</td>
                            </tr>
                            <tr>
                                <th>9. Nơi ở hiện nay</th>
                                <td>46 Trần Văn Phụng, Xã Mỹ Trà, Thành phố Cao Lãnh, Tỉnh Đồng Tháp</td>
                            </tr>
                            <tr>
                                <th>10. Nghề nghiệp khi được tuyển dụng</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>11. Ngày tuyển dụng</th>
                                <td>12/02/2013 - <strong>Cơ quan tuyển dụng</strong>: Bệnh viện Phục hồi Chức Năng Đồng Tháp</td>
                            </tr>
                            <tr>
                                <th>12. Chức vụ (chức danh) hiện tại</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>13. Công việc chính được giao</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>14. Chức danh nghề nghiệp viên chức</th>
                                <td>
                                    Kỹ sư Công nghệ thông tin
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <ul class="list-group">
                                        <li class="list-group-item" style="border:0px;"><span class="badge">14</span>Mã số:</li>
                                        <li class="list-group-item" style="border:0px;"><span class="badge">14</span>Bậc lương:</li>
                                        <li class="list-group-item" style="border:0px;"><span class="badge">14</span>Hệ số:</li>
                                        <li class="list-group-item" style="border:0px;"><span class="badge">14</span>Ngày hưởng:</li>
                                        <li class="list-group-item" style="border:0px;"><span class="badge">14</span>Phụ cấp chức vụ:</li>
                                        <li class="list-group-item" style="border:0px;"><span class="badge">14</span>Phụ cấp khác:</li>
                                        
                                    </ul>
                                    
                                </td>
                            </tr>
                            <tr>
                                <th>15.1. Trình độ giáo dục phổ thông</th>
                                <td>
                                    12/12
                                </td>
                            </tr>
                            <tr>
                                <th>15.2. Trình độ chuyên môn cao nhất</th>
                                <td>
                                    Đại học
                                </td>
                            </tr>
                            <tr>
                                <th>15.3. Lý luận chính trị</th>
                                <td>
                                    Đại học
                                </td>
                            </tr>
                            <tr>
                                <th>15.4. Quản lý nhà nước</th>
                                <td>
                                    Đại học
                                </td>
                            </tr>
                            <tr>
                                <th>15.5. Bồi dưỡng theo tiêu chuẩn chức danh nghề nghiệp</th>
                                <td>
                                    Đại học
                                </td>
                            </tr>
                            <tr>
                                <th>15.6. Ngoại ngữ</th>
                                <td>
                                    A
                                </td>
                            </tr>
                            <tr>
                                <th>15.7. Tin học</th>
                                <td>
                                    B
                                </td>
                            </tr>
                            <tr>
                                <th>16. Ngày vào Đảng cộng sản Việt Nam</th>
                                <td>
                                    12/02/2014 - <strong>Ngày chính thức</strong>: 15/03/2015
                                </td>
                            </tr>
                            <tr>
                                <th>17. Ngày tham gia tổ chức chính trị xã hội</th>
                                <td>
                                    26/03/2015 - Đoàn viên
                                </td>
                            </tr>
                            <tr>
                                <th>18. Ngày nhập ngũ</th>
                                <td>
                                    12/02/2014 - <strong>Ngày xuất ngũ</strong>: 15/03/2015 - <strong>Quân hàm cao nhất</strong>: Đại Úy
                                </td>
                            </tr>
                            <tr>
                                <th>19. Danh hiệu được phong tặng cao nhất</th>
                                <td>
                                    Anh hùng lao động
                                </td>
                            </tr>
                            <tr>
                                <th>20. Sở trường công tác</th>
                                <td>
                                    Anh hùng lao động
                                </td>
                            </tr>
                            <tr>
                                <th>21. Khen thưởng</th>
                                <td>
                                    Anh hùng lao động
                                </td>
                            </tr>
                            <tr>
                                <th>22. Kỷ luật</th>
                                <td>
                                    Anh hùng lao động
                                </td>
                            </tr>
                            <tr>
                                <th>23. Tình trạng sức khỏe</th>
                                <td>
                                    Tốt
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <ul class="list-group">
                                        <li class="list-group-item" style="border:0px;"><span class="badge">14</span>Chiều cao (m)</li>
                                        <li class="list-group-item" style="border:0px;"><span class="badge">14</span>Cân nặng (kg)</li>
                                        <li class="list-group-item" style="border:0px;"><span class="badge">14</span>Nhóm máu</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>24. Là thương binh hạng</th>
                                <td>
                                    2/4 - <strong>Là con gia đình chính sách</strong>: gia đình liệt sĩ
                                </td>
                            </tr>
                            
                            <tr>
                                <th>25. Số CMND </th>
                                <td>
                                    341634488 - <strong>Ngày cấp</strong>: 26/07/2008
                                </td>
                            </tr>
                        </table>
                        
                    </div>
                    <div class="col-md-12">
                        <table class="table">
                            <tr>
                                <th>Tên trường</th>
                                <th>Chuyên ngành đào tạo bồi dưỡng</th>
                                <th>Từ tháng năm đến tháng năm</th>
                                <th>Hình thức đào tạo</th>
                                <th>Văn bằng chứng chỉ trình độ</th>
                            </tr>
                            <tr>
                                <td>Trường Đại Học Kỹ thuật công nghệ TPHCM</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-12">

                        <button class="btn btn-lg btn-default btn-block" data-dismiss="modal">Đóng</button>
                        <br />
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<script src="~/scripts/app_scripts/QuanLyNhanVien.js?@("v="+DateTime.Now.ToString("yyMMddhhmmss"))"></script>