
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KhongTheDangNhap</title>


    <style>
        body {
            background-color:#005213;
            color:white;
            font-family:Tahoma;
        }
        a {
            color:white;
        }
        a:hover {
            color:#808080;
        }
    </style>
</head>

<body>

    <div style="text-align:center;"> 
        <br /><br /><br />
        <strong>BỆNH VIỆN PHỤC HỒI CHỨC NĂNG</strong>
        <br /><br />
        Hệ thống từ chối truy cập, vui lòng liên hệ quản trị!
        <br /><br />
         << <a href="javascript:history.back();">Trở lại</a>
    </div>
</body>
</html>
