@{
    PHCN.NhanVien.Models.PHCNEntities db = new PHCN.NhanVien.Models.PHCNEntities();
    var listXaPhuong = db.XaPhuong.OrderBy(x => x.STT).ThenBy(x => x.TenXaPhuong).ToList();
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Tên tỉnh thành</th>
            <th>STT</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in listXaPhuong)
        {
            <tr>
                <td>@item.MaXaPhuong</td>
                <td>
                    <input value="@item.TenXaPhuong" style="width:40%;" />
                </td>
                <td>
                    <input value="@item.STT" style="width:10%;" />
                </td>
                <td>
                    <button class="btn btn-xs btn-success">Lưu</button>
                    <button class="btn btn-xs btn-danger">Xóa</button>
                </td>
            </tr>
        }


    </tbody>
</table>

