

<div class="modal" id="modalChiTietBenh">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Tiền sử bệnh</h4>
            </div>
            <div class="modal-body">                
                <div class="row">
                    <div class="col-xs-6">
                        <label>Loại bệnh</label>
                        <select class="form-control" id="selectLoaiBenh">
                            <option value="false">Bệnh</option>
                            <option value="true">Bệnh nghề nghiệp</option>
                        </select>
                    </div>
                    <div class="col-xs-6">
                        <label>Phát hiện năm</label>
                        <input type="text" class="form-control number" id="txtPhatHienNam">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">                        
                        <label>Tên bệnh</label>
                        <input type="text" class="form-control" id="txtTenBenh">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnLuuBenh">Lưu thông tin</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                
            </div>
        </div>
    </div>
</div>