<table class="table">
    <tr>
        <th style="width:50%;">Tên bệnh</th>
        <th style="width:30%;">Phát hiện năm</th>
        <th style="width:20%;"></th>
    </tr>
    <tr>
        <td>Thoái hóa đa khớp</td>
        <td>1998</td>
        <td>
            <a href="javascript:void(0);" data-mabosungphamvihdcm="12" class="rowSuaDienBienBoSungPhamViHDCM btn btn-xs btn-default">
                <i class="glyphicon glyphicon-pencil"></i>
                ...
            </a>
            <a href="javascript:void(0);" data-mabosungphamvihdcm="12" class="rowXoaDienBienBoSungPhamViHDCM btn btn-xs btn-default">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </td>
    </tr>
</table>
<table class="table">
    <tr>
        <th style="width:50%;">Tên bệnh nghề nghiệp</th>
        <th style="width:30%;">Phát hiện năm</th>
        <th style="width:20%;"></th>
    </tr>
    <tr>
        <td>Đau mỏi vai gáy</td>
        <td>1998</td>
        <td>
            <a href="javascript:void(0);" data-mabosungphamvihdcm="12" class="rowSuaDienBienBoSungPhamViHDCM btn btn-xs btn-default">
                <i class="glyphicon glyphicon-pencil"></i>
                ...
            </a>
            <a href="javascript:void(0);" data-mabosungphamvihdcm="12" class="rowXoaDienBienBoSungPhamViHDCM btn btn-xs btn-default">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </td>
    </tr>
</table>
