<div class="row">
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <img src="/Content/ImageAvatar/default-avatar.png" class="pull-left" style="width:100%; border:1px solid #808080; padding:2px;">
                </div>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Mã số</label>
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>1. Họ và tên</label>
                    <input type="text" class="form-control" placeholder="Default input">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-6">
                        <label>2. Giới</label>
                        <div class="row">
                            <div class="col-md-12">
                                <label style="font-weight:normal; font-size:14px;">
                                    <input type="checkbox" value="" id="checkboxGioiTinhNam"> &nbsp;&nbsp; Nam
                                </label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <label style="font-weight:normal; font-size:14px;">
                                    <input type="checkbox" value="" id="checkboxGioiTinhNu"> &nbsp;&nbsp; Nữ
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Tuổi</label>
                        <div class="row">
                            
                            <div class="col-md-4">
                                <input class="form-control text-right number" placeholder="" type="text" id="txtNgaySinh_Nam" maxlength="11">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-4">
                        <label>3. Số CMND hoặc Hộ chiếu</label>
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control text-right number" placeholder="" type="text" id="txtNgaySinh_Nam" maxlength="11">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Cấp ngày</label>
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control text-right number" placeholder="" type="text" id="txtNgaySinh_Nam" maxlength="11">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Tại</label>
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control text-right number" placeholder="" type="text" id="txtNgaySinh_Nam" maxlength="11">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>4. Hộ khẩu thường trú</label>
                    <textarea class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>5. Chỗ ở hiện tại:</label>
                    <textarea class="form-control"></textarea>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>6. Nghề nghiệp</label>
            <input type="text" class="form-control" placeholder="">
        </div>      
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>7. Nơi công tác học tập</label>
            <input type="text" class="form-control" placeholder="">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>8. Ngày bắt đầu vào học/làm việc tại đơn vị hiện nay</label>
            <input type="text" class="form-control" placeholder="">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>9. Nghề, công việc trước đây (liệt kê các công việc đã làm trong 10 năm trở lại đây, tính từ thời điểm gần nhất)</label>
            <textarea class="form-control"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>10. Tiền sử bệnh, tật của gia đình</label>
            <textarea class="form-control"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>11. Tiền sử bản thân</label>
                    <textarea class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <th style="width:50%;">Tên bệnh</th>
                        <th style="width:30%;">Phát hiện năm</th>
                        <th style="width:20%;"></th>
                    </tr>
                    <tr>
                        <td>Thoái hóa đa khớp</td>
                        <td>1998</td>
                        <td>
                            <a href="javascript:void(0);" data-mabosungphamvihdcm="12" class="rowSuaDienBienBoSungPhamViHDCM btn btn-xs btn-default">
                                <i class="glyphicon glyphicon-pencil"></i>
                                ...
                            </a>
                            <a href="javascript:void(0);" data-mabosungphamvihdcm="12" class="rowXoaDienBienBoSungPhamViHDCM btn btn-xs btn-default">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>
                </table>
                <table class="table">
                    <tr>
                        <th style="width:50%;">Tên bệnh nghề nghiệp</th>
                        <th style="width:30%;">Phát hiện năm</th>
                        <th style="width:20%;"></th>
                    </tr>
                    <tr>
                        <td>Đau mỏi vai gáy</td>
                        <td>1998</td>
                        <td>
                            <a href="javascript:void(0);" data-mabosungphamvihdcm="12" class="rowSuaDienBienBoSungPhamViHDCM btn btn-xs btn-default">
                                <i class="glyphicon glyphicon-pencil"></i>
                                ...
                            </a>
                            <a href="javascript:void(0);" data-mabosungphamvihdcm="12" class="rowXoaDienBienBoSungPhamViHDCM btn btn-xs btn-default">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <label>LẬP SỔ KSK</label>
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control" placeholder="Tại..." type="text" id="txtNgaySinh_Nam" maxlength="11">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label>Ngày</label>
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control text-right number" placeholder="" type="text" id="txtNgaySinh_Nam" maxlength="11">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label>Người lập</label>
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control text-right number" placeholder="" type="text" id="txtNgaySinh_Nam" maxlength="11">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>