
@{
    ViewBag.Title = "Index";
    ViewBag.PanelTitle = "Danh sách Viên Chức";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="form-group">
    <select class="form-control">
        <option value="1">Bệnh viện Phục Hồi Chức Năng Đồng Tháp</option>
    </select>
</div>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <td>3</td>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>



