@{
    List<PHCN.NhanVien.Models.FileDinhKem> listFileDinhKem = (List<PHCN.NhanVien.Models.FileDinhKem>)ViewBag.ListFileDinhKem;
    bool xem = (bool)ViewBag.Xem;

}



@if (listFileDinhKem.Any())
{
    <table class="table table-condensed">
        <thead>
            <tr>

                <th style="font-size:14px;">ĐÍNH KÈM</th>
                @if (!xem)
                {
                    <th style="width:10%;">Xóa</th>
                }                
            </tr>
        </thead>
        <tbody>

            @foreach (var item in listFileDinhKem)
            {
                <tr>
                    <td>
                        <i class="fa fa-file-text-o" style="margin-left:20px;"></i>
                        <a href="~/Content/FileManager/@item.TenFileFull" style="margin-left:20px;">@item.TenFile</a>
                    </td>
                    @if (!xem)
                    {
                        <td>
                            <a href="javascript:void(0);">
                                <span class="glyphicon glyphicon-remove btnXoaFileDinhKem" data-ma-file="@item.MaFile" style="color:#ff6a00;"></span>
                            </a>

                        </td>
                    }                 
                </tr>
            }



        </tbody>

    </table>

        <script>
            function bindbtnXoaFileDinhKem() {
                $(".btnXoaFileDinhKem").unbind("click").click(function () {
                    var maFile = $(this).data("ma-file");
                    var url = '@Url.Action("XoaFileDinhKem", "Upload")' + '/' + maFile;
                    $.post(url, function (data) {
                        if (data == "true") {
                            loadDanhSachFileDinhKem();
                        } else {
                            alert(data);
                        }
                    });
                });
            }
            bindbtnXoaFileDinhKem();
        </script>


}
else
{
    <br />
}

