


@{
    Layout = null;

    string loginResult = ViewBag.Result;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bootflat-Admin Template</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="favicon_16.ico" />
    <link rel="bookmark" href="favicon_16.ico" />
    <!-- site css -->
    <link rel="stylesheet" href="~/Content/css/site.min.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'> -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/Content/js/site.min.js"></script>
    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #303641;
            color: #C1C3C6;
        }
    </style>
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-4-xs">

            </div>
            <div class="col-4-xs">
                <form class="form-signin" role="form" action="@Url.Action("Login", "Home")" method="post">
                    <h3 class="form-signin-heading">Bệnh viện PHCN</h3>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </div>
                            <input type="text" class="form-control" name="tenDangNhap" id="username" placeholder="Tên đăng nhập" autocomplete="off" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class=" glyphicon glyphicon-lock "></i>
                            </div>
                            <input type="password" class="form-control" name="matKhau" id="password" placeholder="Mật khẩu" autocomplete="off" />
                        </div>
                    </div>

                    <label class="checkbox">
                        <input type="checkbox" value="remember-me"> &nbsp Nhớ tài khoản
                    </label>
                    <input type="hidden" value="true" name="nhoTaiKhoan"/>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng nhập</button>
                    <br />
                    @if (loginResult == "false")
                    {
                        <div style="color:#ff6a00;">Tài khoản hoặc mật khẩu không đúng</div>
                    }
                    
                </form>
            </div>
            <div class="col-4-xs">

            </div>
        </div>
        

    </div>
    <div class="clearfix"></div>
    <br><br>
    <!--footer-->
    <div class="site-footer login-footer">
        <div class="container">
            <div class="copyright clearfix text-center">
                <p><b>HỆ THỐNG NỘI BỘ</b></p>
                <p>Bệnh viện Phục hồi chức năng Đồng Tháp</p>
            </div>
        </div>
    </div>


    <script>

    </script>
</body>
</html>
