@{
    Layout = null;
    string loginResult = ViewBag.Result;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Đăng nhập</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="~/Content/img/mail.ico" />
    <link rel="bookmark" href="~/Content/img/mail.ico" />    
    <link rel="stylesheet" href="~/Content/css/site.min.css">
    <script type="text/javascript" src="~/Content/js/site.min.js"></script>
    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #303641;
            color: #C1C3C6;
        }
    </style>
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-4-xs">
            </div>
            <div class="col-4-xs">
                <form class="form-signin" role="form" action="@Url.Action("Login", "Home")" method="post">
                    <h4 class="form-signin-heading">HỆ THỐNG NỘI BỘ</h4>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </div>
                            <input type="text" class="form-control" name="tenDangNhap" id="username" placeholder="Tên đăng nhập" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-lock "></i>
                            </div>
                            <input type="password" class="form-control" name="matKhau" id="password" placeholder="Mật khẩu" autocomplete="off" />
                        </div>
                    </div>                    
                    <input type="hidden" value="true" name="nhoTaiKhoan"/>
                    <button class="btn btn-lg btn-success btn-block" type="submit">Đăng nhập</button>
                    <br/>
                    <a href="@Url.Action("Index", "Home")" class="btn pull-right">Trở về trang chủ</a>
                    <br />
                    @if (loginResult == "false")
                    {
                        <div style="color:#ff6a00;">Tài khoản hoặc mật khẩu không đúng</div>
                    }
                    else if (loginResult == "khongketnoi")
                    {
                        <div style="color:#ff6a00;">Không thể kết nối đến máy chủ, vui lòng liên hệ quản trị</div>
                    }
                    <a href="javascript:alert('Vui lòng liên hệ quản trị: Nguyễn Hồng Thanh - Điện thoại 0973.952.747');">Quên mật khẩu ?</a>
                </form>
                
            </div>
            <div class="col-4-xs">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <br><br>
    <!--footer-->
    


    <script>

    </script>
</body>
</html>
