
@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HỆ THỐNG NỘI BỘ</title>
    <link rel="shortcut icon" href="~/Content/img/mail.ico" />
    <link rel="bookmark" href="~/Content/img/mail.ico" />    
    <link href="~/Content/css/site.min.css" rel="stylesheet" />
    <script src="~/Content/js/site.min.js"></script>
</head>
<body style="background-color: #024f0b">
    <div class="row" style="margin-top:10%;"> 
        <div class="col-sm-3">
            
        </div>
        <div class="col-sm-6">
            <h4 style="color:white; padding-left:30px; padding-right:30px; margin:0px; text-align:center;font-size:20px;">HỆ THỐNG NỘI BỘ</h4>
            <h3 style="color:white;  padding:30px; padding-right:30px; margin:0px; text-align:center; font-size:22px;">BỆNH VIỆN PHỤC HỒI CHỨC NĂNG ĐỒNG THÁP</h3>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    
                </div>
                <div class="col-sm-4" style="padding-left:30px; padding-right:30px">
                    <a href="@Url.Action("Index", "ThuNoiBo")" class="btn btn-lg btn-success pull-right" style="margin-top:20px;">
                        Đến hộp thư
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</body>
</html>
