
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    
}
<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <div class="carousel-inner">
            <div class="item active" style="background-image: url('@Url.Content("~/Content/home/images/slider/bvphcndt-banner.jpg")')">
                @*<div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2 class="animation animated-item-1">BỆNH VIỆN <span>PHỤC HỒI CHỨC NĂNG ĐỒNG THÁP</span></h2>
                                    <p class="animation animated-item-2">Chung tay góp sức cho ngày mai !</p>
                                    <a class="btn-slide animation animated-item-3" href="#">Giới thiệu</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="~/Content/home/images/slider/img3.png" class="img-responsive">
                                </div>
                            </div>

                        </div>
                    </div>*@
            </div>
            <!--/.item-->
        </div>
        <!--/.carousel-inner-->
    </div>
    <!--/.carousel-->
    <div id="DichVu"></div>
</section>
<!--/#main-slider-->

<div class="feature">
    <div class="container">
        <div class="text-center">
            <div class="col-md-3">
                <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <i class="fa fa-book"></i>
                    <h2>Khám bệnh đa khoa</h2>
                    <p>Khám nội khoa, ngoại khoa, da liễu, tai mũi họng, răng hàm mặt</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <i class="fa fa-laptop"></i>
                    <h2>Điều trị ngoại trú</h2>
                    <p>Thực hiện vật lý trị liệu, phục hồi chức năng</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <i class="fa fa-heart-o"></i>
                    <h2>Điều trị nội trú</h2>
                    <p>Điều dưỡng người cao tuổi, điều trị bằng y học cổ truyền</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
                    <i class="fa fa-cloud"></i>
                    <h2>Khám sức khỏe</h2>
                    <p>Bổ sung hồ sơ lái xe, xin việc, định kỳ</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center wow fadeInDown">
        <a class="btn btn-lg btn-default" href="@Url.Action("BangGiaVienPhi", "TraCuu")#" style="border:1px solid #cbcbcb;">Bảng giá viện phí</a>
    </div>
    
    <div id="GioiThieu"></div>
    
</div>

<div class="about" style="background-color:#076300;">
    <div class="container">
        <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            @*<h2 style="color:white;">về chúng tôi</h2>*@

            <img src="~/Content/home/images/slider/bvphcndt-avatar.jpg" class="img-responsive" />
            @*<p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
                    pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                </p>*@
        </div>

        <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <h2 style="color:white;">BỆNH VIỆN PHỤC HỒI CHỨC NĂNG</h2>
            <p>
                <h3 style="color:white;">
                    Được trang bị nhiều máy móc chuyên khoa vật lý trị liệu phục vụ người bệnh

                </h3>
                <ul>
                    <li><h4 style="color:white">Máy siêu âm điều trị</h4></li>
                    <li><h4 style="color:white">Điện xung</h4></li>
                    <li><h4 style="color:white">Laser nội mạch</h4></li>
                    <li><h4 style="color:white">Máy kéo cột sống cổ, cột sống thắt lưng</h4></li>
                    <li><h4 style="color:white">Bó sáp parafin</h4></li>
                    <li><h4 style="color:white">Dụng cụ hoạt động trị liệu</h4></li>

                </ul>

            </p>
            <br /><br />
            @*<a class="btn btn-lg btn-success" href="#">Xem thêm...</a>*@
            
            
        </div>
    </div>
    <div id="TinTuc"></div>
</div>

@*<div class="lates">
    <div class="container">
        <div class="text-center">
            <h2>Tin mới</h2>
        </div>
        <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <img src="~/Content/home/images/4.jpg" class="img-responsive" />
            <h3>Template built with Twitter Bootstrap</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
                pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
            </p>
        </div>

        <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <img src="~/Content/home/images/4.jpg" class="img-responsive" />
            <h3>Template built with Twitter Bootstrap</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
                pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
            </p>
        </div>

        <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
            <img src="~/Content/home/images/4.jpg" class="img-responsive" />
            <h3>Template built with Twitter Bootstrap</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
                pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
            </p>
        </div>
        <div class="text-center">
            <br />
            <a class="btn btn-lg btn-default" href="#" style="border:1px solid #cbcbcb;">Xem thêm...</a>
        </div>
    </div>
</div>*@
<section>

    
    <div class="map">
        <div class="mapouter">
            <div class="gmap_canvas"><iframe style="width:100%;  height:500px;" id="gmap_canvas" src="https://maps.google.com/maps?q=b%E1%BB%87nh%20vi%E1%BB%87n%20ph%E1%BB%A5c%20h%E1%BB%93i%20ch%E1%BB%A9c%20n%C4%83ng%20%C4%91%E1%BB%93ng%20th%C3%A1p&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
            <style>
                .mapouter {
                    text-align: right;
                    height: 500px;
                    width: 100%;
                }

                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 500px;
                    width: 100%;
                }
            </style>
        </div>
    </div>
</section>
